/node_modules
/public/hot
/public/webfonts
/public/css/fontawesome-all.css
/public/css/fontawesome-all.min.css
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
